body{
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}
a.nav-link.active{
    color: #ffc108 !important;
}
a.nav-link:hover{
    color: #ffc108 !important;
}
.banner{
    max-height: 65vh;
    position: relative;
}
.text-carousel{
    position: absolute; 
    bottom: 9%; 
}
.gallery .img:hover{
    transform: scale(120%);
}
p.first-letter::first-letter{
    color: #ffc108;
    font-weight: bold;
}
.list-unstyled li.text-popover:hover{
    cursor: pointer;
    color: #ffc108 !important;
    font-weight: bold;
}

